/* Smartphones (portrait) ----------- */
@media only screen 
and (min-width : 310px) {
  html, body {
    font-size: 14px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 445px) {
  html, body {
    font-size: 18px;
  }
  section {
    .container {
      h2 {
        font-size: 3.6em;
      }
    }
    &#press ul li {
      float: left;
      width: 50%;
      a {
        padding-bottom: 1.5em;
      }
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 700px) {
// , (min-device-width : 700px) and (orientation : portrait) {
  html, body {
    font-size: 18px;
  }
  section, footer, #navigation {
    .container {
      width: 35em;
      max-width: 35em;
    }
  }
  section {
    &#hero .container h1 {
      background-size: 5.15em;
    }
    &#photos ul li {
      float: left;
      width: auto;
      margin: .375em;
    }
    &#tour ul li {
      font-size: 1.5em;
      .btn-join {
        display: block;
      }
    }
    &#press {
      min-height: 30em;
      ul li {
        float: left;
        width: 25%;
        a {
          margin-top: 1em;
          padding: 130px 0 1.5em;
        }
      }
    }
  }
  header #logo {
    float: left;
    margin-left: 5em;
    text-align: left;
  }
  footer .container {
    nav {
      display: block;
      float: left;
      font-size: 1em;
      a {
        display: inline;
        padding: 0 .8em 0 .5em;
        text-align: left;
        border-right: 1px solid white;
        &:last-child {
          border-right: none;
        }
      }
    }
    p {
      display: block;
      float: right;
      text-align: right;
    }
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 1000px), 
(min-device-width : 700px) and (orientation : landscape) {
  html, body {
    font-size: 20px;
    width: 100%;
    height: 100%;
  }
  .sticky-wrapper {
    display: block;
  }
  section, footer, #navigation {
    .container {
      width: 48em;
      max-width: 48em;
    }
  }
  section {
    width: 100%;
    // min-height: calc(100% - 50px);
    min-height: 100%;
    .container h2 {
      padding-top: 1.25em;
    }
    &#hero .container {
      width: 35em;
      max-width: 35em;
      h1 {
        background-size: 5.15em;
      }
    }
    &#photos ul li {
      margin: .5em;
    }
    &#tour ul li {
      font-size: 2em;
    }
    &#contact {
      .about, form {
        float: left;
        width: 50%;
        margin-top: 6em;
      }
      .about {
        margin-top: 16em;
      }
    }
  }
  footer .container {
    min-height: 15px;
    p {
      padding-top: 0;
    }
  }
}


/* bigger than Desktops and laptops ----------- */
/*
@media only screen 
and (min-width : 1200px) {
  html, body {
    font-size: 22px;
  }
}
*/

/* bigger than Large screens ----------- */
/*
@media only screen 
and (min-width : 1800px) {
  html, body {
    font-size: 24px;
  }
}
*/

/* retina  ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* styles */
}
