/* Smartphones (portrait) ----------- */
@media only screen 
and (min-width : 310px) {
  html, body {
    font-size: 14px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 445px) {
  html, body {
    font-size: 16px;

    section .container h2 {
      font-size: 3.6em;
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-width : 700px) {
// , (min-device-width : 700px) and (orientation : portrait) {
  html, body {
    font-size: 18px;
  }
  section {
    .container {
      width: 35em;
      max-width: 35em;
    }
    &#hero .container h1 {
      background-size: 2.575em;
    }
    &#photos ul li {
      float: left;
      width: auto;
      margin: .375em;
    }
  }
  header #logo {
    float: left;
    margin-left: 5em;
    text-align: left;
  }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 1000px), 
(min-device-width : 700px) and (orientation : landscape) {
  html, body {
    font-size: 20px;
    width: 100%;
    height: 100%;
  }
  section {
    width: 100%;
    height: 100%;
    .container {
      width: 48em;
      max-width: 48em;
    }
    &#hero .container {
      width: 35em;
      max-width: 35em;
      h1 {
        background-size: 2.575em;
      }
    }
    &#photos ul li {
      margin: .5em;
    }
  }
}


/* bigger than Desktops and laptops ----------- */
/* 
@media only screen 
and (min-width : 1200px) {
  html, body {
    font-size: 11px;
  }
}
*/

/* bigger than Large screens ----------- */
/*
@media only screen 
and (min-width : 1800px) {
  html, body {
    font-size: 12px;
  }
}
*/

/* retina  ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* styles */
}
