/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Chivo:400,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);

$color-red: #a52b31;

@mixin font-chivo($weight: 400, $size: 1em) {
  font-family: 'Chivo', sans-serif;
  font-weight: $weight;
  font-size: $size;
}
@mixin font-raleway($weight: 400, $size: 1em) {
  font-family: 'Raleway', sans-serif;
  font-weight: $weight;
  font-size: $size;
}
@mixin font-opensans($weight: 400, $size: 1em) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
  font-size: $size;
}


html, body {
  @include font-opensans();
  font-size: 12px;
}

section {
  display: block;
  min-height: 35em;
  padding: 0 0 5em;
  box-sizing: border-box;

  .wrapper {
    background: url('../img/top-pattern-white.png') top center repeat-x;
  }
  &:nth-child(odd) .wrapper {
    background: url('../img/top-pattern-black.png') top center repeat-x;
  }
  &:nth-child(1) .wrapper {
    background: none;
  }

  .container {
    display: block;
    width: 21em;
    max-width: 21em;
    margin: 0 auto;
    clear: both;
    h2 {
      @include font-raleway(800, 3.4em);
      text-transform: uppercase;
      text-align: center;
      padding: .833em 0 .556em;
    }
    p {
      margin: 1em 0;
      line-height: 1.333em;
      @include font-opensans(400, 1em);
    }
    img {
      max-width: 100% !important;
      height: auto;
    }
  }

  &.bg-red {
    color: white;
    background: $color-red url('../img/bg-pattern-red.png') repeat;
  }
  &#hero {
    background: url('../img/bg-hero.jpg') bottom center no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    @include font-raleway(800);
    position: relative;
    .container {
      padding: 7.5em 0 0;
      h3 {
        font-size: 2.25em;
      }
      h1 {
        padding: 0 0 .45em;
        background: url('../img/top-pattern-hero.png') bottom left repeat-x;
        background-size: 3.1em;
        font-size: 4.5em;
        text-transform: uppercase;
      }
      a#btn-down {
        display: block;
        width: 6.5em;
        height: 1.9165em;
        margin: -1em auto .5em;
        background: url('../img/top-pattern-hero-arrow.png') center center no-repeat;
        background-size: cover;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        &:hover {
          margin: -.5em auto 0;
        }
      }
    }
  }

  &#about {
    // about section
  }

  &#photos {
    color: $color-red;
    background: url('../img/bg-pattern-photos.png') repeat;
    ul {
      li {
        display: block;
        float: none;
        margin: .5em auto;
        img {
          // width: 100%;
        }
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    #btn-more {
      display: block;
      float: right;
      margin-top: 1em;
      color: $color-red;
      @include font-raleway(700, 1em);
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &#videos {
    ul {
      li {
        float: left;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
  &#tour {
    color: white;
    background: url('../img/bg-tour.jpg') bottom center no-repeat;
    background-size: cover;
    ul {
      li {
        height: 2em;
        margin: 1em auto;
        padding: 4px 0;
        background: rgba(0, 0, 0, .5);
        @include font-chivo(400);
        a {
          color: white;
          text-decoration: none;
        }
        .day {
          display: block;
          float: left;
          width: 1.25em;
          padding: 0 4px;
          border-right: 2px solid white;
          font-size: 2em;
          font-weight: 900;
          text-align: right;
        }
        .month {
          display: block;
          float: left;
          width: 3em;
          padding: .2em 4px 0;
          font-size: .85em;
        }
        .city {
          display: block;
          float: left;
          width: 6.25em;
          padding: .2em 4px 0;
          border-right: 2px solid white;
          font-size: .9em;
          line-height: 0.95em;
          text-transform: uppercase;
          .country {
            font-size: .7em;
            text-transform: none;
          }
        }
        .place {
          display: block;
          float: left;
          width: 7.5em;
          height: 1.75em;
          padding: .1em 0 .1em .5em;
          font-size: 1em;
          line-height: .85em;
          overflow: hidden;
          span {
            width: 7.5em;
            height: 1.75em;
            display: table-cell;
            vertical-align: middle;
          }
        }
        .btn-join {
          display: none;
          float: right;
          width: 4em;
          height: 2em;
          margin: .65em;
          background-color: white;
          color: black;
          font-size: .6em;
          line-height: 2em;
          text-align: center;
          text-transform: uppercase;
          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
  &#music {
    color: $color-red;
    background: url('../img/bg-pattern-music.png') repeat;
  }
  &#press {
    height: auto !important;
    ul {
      li {
        display: block;
        float: none;
        margin: 1em auto;
        a {
          display: block;
          float: none;
          width: 135px;
          height: 90px;
          margin: 0 auto;
          padding: 100px 0 2.5em;
          background-position: top center;
          background-repeat: no-repeat;
          box-sizing: border-box;
          color: white;
          @include font-raleway(800, 1.8em);
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
        }
        &.photos a {
          background-image: url('../img/ico-photos.png');
        }
        &.bio a {
          background-image: url('../img/ico-bio.png');
        }
        &.info a {
          background-image: url('../img/ico-info.png');
        }
        &.rider a {
          background-image: url('../img/ico-rider.png');
        }
      }
    }
  }

  &#contact {
    background: url('../img/bg-contact.jpg') bottom center no-repeat;
    background-size: cover;
    h2 {
      color: $color-red;
    }
  }
}

header {
  padding-top: 2.5em;
  #logo {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}

@import "mobile"
