/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import url(http://fonts.googleapis.com/css?family=Chivo:400,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);

$color-red: #a52b31;

@mixin font-chivo($weight: 400, $size: 1em) {
  font-family: 'Chivo', sans-serif;
  font-weight: $weight;
  font-size: $size;
}
@mixin font-raleway($weight: 400, $size: 1em) {
  font-family: 'Raleway', sans-serif;
  font-weight: $weight;
  font-size: $size;
}
@mixin font-opensans($weight: 400, $size: 1em) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
  font-size: $size;
}


html, body {
  font-size: 6px;
  @include font-opensans();
}

section {
  display: block;
  min-height: 70em;
  padding: 0 0 10em;
  box-sizing: border-box;

  .wrapper {
    background: url('../img/top-pattern-white.png') top center repeat-x;
  }
  &:nth-child(odd) .wrapper {
    background: url('../img/top-pattern-black.png') top center repeat-x;
  }
  &:nth-child(1) .wrapper {
    background: none;
  }

  .container {
    display: block;
    width: 45em;
    margin: 0 auto;
    clear: both;
    h2 {
      @include font-raleway(800, 7.2em);
      text-transform: uppercase;
      text-align: center;
      padding: .833em 0 .556em;
    }
    p {
      @include font-opensans(400, 2em);
      line-height: 1.333em;
      margin: 1em 0;
    }
    img {
      max-width: 100% !important;
    }
  }

  &.bg-red {
    color: white;
    background: $color-red url('../img/bg-pattern-red.png') repeat;
  }
  &#hero {
    background: url('../img/bg-hero.jpg') bottom center no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    @include font-raleway(800);
    position: relative;
    .container {
      padding: 15em 0 0;
      h3 {
        font-size: 4.5em;
      }
      h1 {
        padding: 0 0 .45em;
        background: url('../img/top-pattern-hero.png') bottom left repeat-x;
        background-size: 3.3em;
        font-size: 9em;
        text-transform: uppercase;
      }
      a#btn-down {
        display: block;
        width: 13em;
        height: 3.833em;
        margin: -2em auto 1em;
        background: url('../img/top-pattern-hero-arrow.png') center center no-repeat;
        background-size: cover;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        &:hover {
          margin: -1em auto 0;
        }
      }
    }
  }

  &#about {
    // about section
  }

  &#photos {
    color: $color-red;
    background: url('../img/bg-pattern-photos.png') repeat;
    ul {
      li {
        display: block;
        float: none;
        margin: 1em auto;
        img {
          width: 100%;
        }
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }

  &#videos {
    ul {
      li {
        float: left;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
  &#tour {
    color: white;
    background: url('../img/bg-tour.jpg') bottom center no-repeat;
    background-size: cover;
  }
  &#music {
    color: $color-red;
    background: url('../img/bg-pattern-music.png') repeat;
  }
  &#press {
    // asdas
  }

  &#contact {
    background: url('../img/bg-contact.jpg') bottom center no-repeat;
    background-size: cover;
    h2 {
      color: $color-red;
    }
  }
}

header {
  padding-top: 5em;
  #logo {
    display: block;
    float: left;
    margin-left: 10em;
    text-align: left;
  }
}

@import "mobile"
