@import url(http://fonts.googleapis.com/css?family=Chivo:400,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 31, sass/app.scss */
html, body {
  font-size: 6px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

/* line 36, sass/app.scss */
section {
  display: block;
  min-height: 70em;
  padding: 0 0 10em;
  box-sizing: border-box;
}
/* line 42, sass/app.scss */
section .wrapper {
  background: url("../img/top-pattern-white.png") top center repeat-x;
}
/* line 45, sass/app.scss */
section:nth-child(odd) .wrapper {
  background: url("../img/top-pattern-black.png") top center repeat-x;
}
/* line 48, sass/app.scss */
section:nth-child(1) .wrapper {
  background: none;
}
/* line 52, sass/app.scss */
section .container {
  display: block;
  width: 42em;
  margin: 0 auto;
  clear: both;
}
/* line 57, sass/app.scss */
section .container h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 7.2em;
  text-transform: uppercase;
  text-align: center;
  padding: .833em 0 .556em;
}
/* line 63, sass/app.scss */
section .container p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.333em;
  margin: 1em 0;
}
/* line 68, sass/app.scss */
section .container img {
  max-width: 100% !important;
}
/* line 73, sass/app.scss */
section.bg-red {
  color: white;
  background: #a52b31 url("../img/bg-pattern-red.png") repeat;
}
/* line 77, sass/app.scss */
section#hero {
  background: url("../img/bg-hero.jpg") bottom center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1em;
  position: relative;
}
/* line 84, sass/app.scss */
section#hero .container {
  padding: 15em 0 0;
}
/* line 86, sass/app.scss */
section#hero .container h3 {
  font-size: 4.5em;
}
/* line 89, sass/app.scss */
section#hero .container h1 {
  padding: 0 0 .45em;
  background: url("../img/top-pattern-hero.png") bottom left repeat-x;
  background-size: 3.1em;
  font-size: 9em;
  text-transform: uppercase;
}
/* line 96, sass/app.scss */
section#hero .container a#btn-down {
  display: block;
  width: 13em;
  height: 3.833em;
  margin: -2em auto 1em;
  background: url("../img/top-pattern-hero-arrow.png") center center no-repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/* line 107, sass/app.scss */
section#hero .container a#btn-down:hover {
  margin: -1em auto 0;
}
/* line 118, sass/app.scss */
section#photos {
  color: #a52b31;
  background: url("../img/bg-pattern-photos.png") repeat;
}
/* line 122, sass/app.scss */
section#photos ul li {
  display: block;
  float: none;
  margin: 1em auto;
}
/* line 126, sass/app.scss */
section#photos ul li img {
  width: 100%;
}
/* line 130, sass/app.scss */
section#photos ul:after {
  content: '';
  display: block;
  clear: both;
}
/* line 136, sass/app.scss */
section#photos #btn-more {
  display: block;
  float: right;
  margin-top: 1em;
  color: #a52b31;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 144, sass/app.scss */
section#photos #btn-more:hover {
  text-decoration: underline;
}
/* line 152, sass/app.scss */
section#videos ul li {
  float: left;
}
/* line 155, sass/app.scss */
section#videos ul:after {
  content: '';
  display: block;
  clear: both;
}
/* line 162, sass/app.scss */
section#tour {
  color: white;
  background: url("../img/bg-tour.jpg") bottom center no-repeat;
  background-size: cover;
}
/* line 167, sass/app.scss */
section#music {
  color: #a52b31;
  background: url("../img/bg-pattern-music.png") repeat;
}
/* line 173, sass/app.scss */
section#press ul li {
  display: block;
  float: none;
  margin: 2em auto;
}
/* line 177, sass/app.scss */
section#press ul li a {
  display: block;
  width: 135px;
  height: 90px;
  padding-top: 90px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-position: center center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
/* line 189, sass/app.scss */
section#press ul li.photos a {
  background-image: url("../img/ico-photos.png");
}
/* line 192, sass/app.scss */
section#press ul li.bio a {
  background-image: url("../img/ico-bio.png");
}
/* line 195, sass/app.scss */
section#press ul li.info a {
  background-image: url("../img/ico-info.png");
}
/* line 198, sass/app.scss */
section#press ul li.rider a {
  background-image: url("../img/ico-rider.png");
}
/* line 205, sass/app.scss */
section#contact {
  background: url("../img/bg-contact.jpg") bottom center no-repeat;
  background-size: cover;
}
/* line 208, sass/app.scss */
section#contact h2 {
  color: #a52b31;
}

/* line 214, sass/app.scss */
header {
  padding-top: 5em;
}
/* line 216, sass/app.scss */
header #logo {
  display: block;
  float: left;
  margin-left: 10em;
  text-align: left;
}

/* Smartphones (portrait) ----------- */
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 445px) {
  /* line 10, sass/_mobile.scss */
  html, body {
    font-size: 8px;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-width: 700px) {
  /* line 19, sass/_mobile.scss */
  html, body {
    font-size: 9px;
  }

  /* line 23, sass/_mobile.scss */
  section .container {
    width: 70em;
  }
  /* line 26, sass/_mobile.scss */
  section#hero .container h1 {
    background-size: 5.15em;
  }
  /* line 29, sass/_mobile.scss */
  section#photos ul li {
    float: left;
    width: auto;
    margin: .25em;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-width: 1000px), (min-device-width: 700px) and (orientation: landscape) {
  /* line 41, sass/_mobile.scss */
  html, body {
    font-size: 10px;
    width: 100%;
    height: 100%;
  }

  /* line 46, sass/_mobile.scss */
  section {
    width: 100%;
    height: 100%;
  }
  /* line 49, sass/_mobile.scss */
  section .container {
    width: 96em;
  }
  /* line 52, sass/_mobile.scss */
  section#hero .container {
    width: 70em;
  }
  /* line 54, sass/_mobile.scss */
  section#hero .container h1 {
    background-size: 5.15em;
  }
  /* line 58, sass/_mobile.scss */
  section#photos ul li {
    margin: .5em;
  }
}
/* bigger than Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
  /* line 67, sass/_mobile.scss */
  html, body {
    font-size: 11px;
  }
}
/* bigger than Large screens ----------- */
@media only screen and (min-width: 1800px) {
  /* line 75, sass/_mobile.scss */
  html, body {
    font-size: 12px;
  }
}
/* retina  ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* styles */
}
